:root{
  color-scheme: light dark;
  --base_size:13px;
  --light:hsl(60, 25%, 95%);
  --dark:hsl(15, 5%, 10%);
  --bg:light-dark(hsl(60, 25%, 95%),hsl(15, 5%, 10%));
  --fg:light-dark(hsl(15, 5%, 10%),hsl(60, 25%, 95%));
  --border: 1px solid var(--fg);
  --base_x1:15px;
  --half_base:calc(var(--base_x1)/2);
  --base_x15:calc(var(--base_x1) * 1.5);
  --base_x2:calc(var(--base_x1)*2);
  --border: 1px solid var(--fg);
  --radius: 3px
}
* {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 15px;
  line-height: 130%;
  background: var(--bg);
  color: var(--fg);
  outline-color: var(--fg);
  box-sizing: border-box;

} 
hr {margin-bottom: 1ch;}
main, .no_select{
  user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    cursor: default;
}
/*main {
  padding-bottom: 2ch;
}*/
textarea{
  width: 100%;
  border: var(--border);
  padding: 1ch;
  border-radius: var(--radius);
  resize: none;
}
html,body{
  background-color: var(--bg);
  width: 100vw;
  height: 100dvh;
  min-height: 100dvh;
}
header{
  margin: 2ch;
}
body {
  padding: 0ch 2ch;
  max-width: 72ch;/*64 int*/
  margin:0 auto;
  display: flex;
flex-direction: column;
}
main {
  position: relative;
  overflow: hidden;
  height: 0px;
  flex: 1 1 auto;
}
#file_picker::after{
  /*full-screen drag drop area*/
  content: "Drop EPUBS anywhere to load them";
  font-size: 24px;
  padding: 1ch;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  /*padding-top: calc(50dvh - 12px);
  height: 100dvh;
  */
  width: 100dvw;
  z-index:99;
  /*JS toggles .dragging class to switch:*/
  opacity: 0;
  pointer-events: none;
}
#file_picker.drag::after{
  pointer-events: all;
  opacity: 1;
  color: var(--bg);
  background-color:var(--fg);
}
button {
  border-radius: var(--radius);
  border:var(--border);
  padding: 0 3px;
}
main button {
  width: 100%;
  margin-bottom: 1ch;
}
button:active {
  background-color: var(--fg);
  color: var(--bg);
}
button:hover {
  border: var(--border);
}
input[type='file']{
  padding: 3px;
  width: 100%;
  margin-bottom: 1ch;
  border: 1px dashed var(--fg);
  border-radius: var(--radius);
}
footer{
  button {

    border-color: transparent;
  }
  padding: 1ch 0;
/*border-top: var(--border);*/
  text-align: center;
}
footer,small, footer *{
  font-size: 12px;
}
p{
    margin-bottom: 1ch;
  }
  summary{
    border: var(--border);
    border-color: transparent;
  }
summary:hover {
  border: 1px dashed var(--fg);
}
details div {
  border: 1px solid var(--fg);
  padding: 1ch 1ch 0ch 1ch;
}
[popover]{
  /*default*/
  border-radius: var(--radius);
  position: fixed;
  inset: 0;
  height: fit-content;
  margin: 2ch auto;
  border: solid;
  padding: 0.25em;
  overflow: auto;
  /*custom*/
  background-color: var(--bg);
  
  width: 66ch;
  min-height: 6ch;
  border: 2px solid var(--fg);
  padding: 2ch;
  max-width: 90dvw;
  max-height: 90dvh;

  pre{
    white-space: pre-wrap; 
  }
  button{
    width: 100%;
    display: block;
    margin-bottom: 2px;
  }
}
h1,h2,h3,h4{
  text-align: center;
  margin-bottom: 1ch;
}
h3 {
  font-weight: normal;
}
h1 {
  text-transform: uppercase;
}
small{
  display: block;
  width: 100%;
text-align: right;
}